h1 {
	color: blue;
	text-align: right;
}

.content {
	font-style: Times New Roman, Times;
}

#third {
	font-style: Arial;
	font-size: 24pt;
}

#fixed_bug {
	text-align: justify;
	text-decoration: underline;
	font-family: Monaco;
}
